@import "tailwindcss";

@keyframes slide-in-from-bottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-out-to-bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

[data-state="open"][data-side="bottom"] {
  animation: slide-in-from-bottom 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

[data-state="closed"][data-side="bottom"] {
  animation: slide-out-to-bottom 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

[data-state="open"] .sheet-overlay {
  animation: fade-in 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

[data-state="closed"] .sheet-overlay {
  animation: fade-out 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}